backend/.vs/
backend/.vscode/

backend/Notes.Api/bin/
backend/Notes.Api/obj/
backend/Notes.Api/Migrations/
backend/Notes.Api/Properties/
backend/Notes.Api/publish/

backend/Notes.Data/bin/
backend/Notes.Data/obj/

backend/Notes.Services/bin/
backend/Notes.Services/obj/

frontend/ng-notes-app/dist/
frontend/ng-notes-app/.firebase/
frontend/ng-notes-app/.vscode/
frontend/ng-notes-app/node_modules/
frontend/ng-notes-app/.angular/*
frontend/ng-notes-app/.prettierrc
frontend/ng-notes-app/yarn.lock
frontend/ng-notes-app/firebase.json
frontend/ng-notes-app/.firebaserc
frontend/ng-notes-app/.editorconfig
