<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-sm centered">
        <a class="navbar-brand" href="#">Take Notes App</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <button type="button" class="btn btn-primary me-2" title="New note" routerLink="/newnote">
                    <i class="bi bi-clipboard2-plus"></i>
                </button>
                <button type="button" class="btn btn-primary me-2" title="Create Category" routerLink="/categories" >
                    <i class="bi bi-bookmark-plus"></i>
                </button>
                @if (!archived) {
                    <button class="btn btn-success" (click)="notesApiService.changeArchived()">
                        <i class="bi bi-archive-fill"></i> Archived
                    </button>
                }
                @else {
                    <button class="btn btn-success" (click)="notesApiService.changeArchived()">
                        <i class="bi bi-archive"></i> Unarchived
                    </button>
                }
                
            </ul>
        </div>
    </div>
</nav>

<router-outlet />

<!-- Bootstrap JS and Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>